.scroll-top-btn a:after, .primary-btn.has-arrow:after, .home-stripe-bg { background-image:url('../assets/images/about/icons.webp');}
.about-banner {
    padding: 2.5rem 0px;
    background-color: #111822;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position:center;
    background-image:url('../assets/images/about/banner.webp');
}

.about-banner h1 {
    font-size: 1.5rem;
    margin: 0px;
}
.about-founder { text-align:center; padding:4rem 0px; position:relative;overflow:hidden; } 
.founder-pic {background: rgb(177,71,181);background: linear-gradient(360deg, rgba(177,71,181,1) 0%, rgba(62,14,156,1) 100%);border-radius: 100%;padding: 7px;max-width: 250px; display: inline-block; margin-bottom:20px;}
.about-founder::after { 
  content: '';
  height: 250px;
  width: 250px;
  position: absolute;
  bottom: 150px;
  right: 0px;
  border-radius: 100%;
  z-index: -1;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #D9D9D9 100%);
  opacity: 0.5;
  display:none;
}
.founder-pic img {
    max-width: 100%;
    border: 15px solid #fff;
    border-radius: 100%;
}
.founder-qoute p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Clash Display';
}
.qoute-user {
    position: relative;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 7px;
    display: table;
    margin: 20px auto 0px;
}

.qoute-user span {
    font-weight: 700;
    display: block;
}

.qoute-user-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}
.vert-logo-block {
    text-align: center;
}

.vert-logo-block img {
    margin-bottom: 20px;
}

.vert-logo-block {
    padding-bottom: 4rem;
}
.vert-logo-block p { margin-bottom:0px; }

.team-block { padding:4rem 0px;}
.team-item > img {
    /* max-width: 194px; */
    width:100%;
    /* height:234px; */
}

.team-item {
    /* text-align: center; */
    margin-bottom:3rem;
    border:1px solid #EAECF0;
    height: calc(100% - 53px);
}

.team-desc {
    margin-top: 20px;
    padding: 0px 20px 30px;
}

.team-desc h4 {
    font-weight: 700;
    font-size:1.1rem;
    color:#282828;
    margin: 0px;
}

.team-desc p {
    color:#5F6980;
    font-size:14px;
}
.team-desc img {
    /* width: 30px; */
}
/* .journey-item p {
    max-width: 170px;
}

.journey-item {
    padding-top: 5px;
    padding-left: 70px;
    position: relative;
    text-align: left !important;
}
.journey-item span {
    background-color: #E0E0E7;
    height: 34px;
    width: 34px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px 0px 0px;
    border-radius: 100%;
    border: 8px solid #fff;
}
.journey-item.active span { 
  background-color: #7C3EFF;
  border: none;
  background-image: url(../assets/images/about/check.png);
  background-repeat: no-repeat;
  background-position: center;
}
.journey-item.open span { 
  background-color: #fff;
  border: 8px solid #7C3EFF;
  background-repeat: no-repeat;
  background-position: center;
}
.journey-item {
    background-image: url(../assets/images/about/grey.webp);
    background-repeat: repeat-y;
    background-position: top left 17px;
    padding-bottom: 15px;
}
.journey-item.active, .journey-item.open { background-image: url(../assets/images/about/purple.webp); }
.journey-text-wrapper {

}
.journey-item h6 {
    margin: 0px;
    font-weight: 700;
    color: #898F8F;
    padding-bottom: 10px;
    font-size: 1.1rem;
} */
.journey-block { padding-bottom:4rem;}
.timeline-row {
    position: relative;
    padding-left: 45px;
}

.timeline-row {
    padding-left: 45px;
}

.timeline-row:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 24px;
    height: 100%;
    width: 7px;
    background-color: #E0E0E7;
}

.milestone-item {position: relative;padding-bottom: 30px;}

.milestone-item h4:after {
    content: '';
    position: absolute;
    left: -45px;
    height: 30px;
    width: 30px;
    background-color: #E0E0E7;
    border: 7px solid #fff;
    border-radius: 100%;
}
.milestone-item.achived h4:after {background-color: #7C3EFF; border:none; background-image:url('../assets/images/about/check.png'); background-repeat:no-repeat; background-position:center; background-size:60%;}
.milestone-item.stay h4:after {background-color: #fff; background-size:60%; border: 7px solid #7C3EFF; }
.milestone-item.achived:before, .milestone-item.stay:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -33px;
    width: 7px;
    height: 100%;
    background-color: #7C3EFF;
}
.milestone-image {
    display: flex;
    margin-bottom:20px;
    min-height: 110px;
    align-items: flex-end;
}

.aboutpage-why-block {
    background-color: #111822;
    border-radius: 24px;
    padding: 4rem 0px 0px;
    color: #fff;
}

.ankush-image img {
    max-width: 100%;
}

.ankush-image {
    position: relative;
}

.ankush-image .qoute-user {
    top: 10px;
    left: -44px;
    position: absolute;
}

.ankush-image .qoute-user img {
    position: static;
    margin-bottom: 5px;
}

.service-colout-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.service-colout {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
}

.service-colout img {
    margin-bottom: 20px;
}

.aboutpage-why-block .block-title {
    margin-bottom: 3rem;
}
.team-gallery-slides {
    padding:0rem 0px 4rem;
}
.about-gallery .swiper-pagination {
    position: static;
    margin-bottom:1.5rem;
}
.about-gallery .swiper-pagination-bullet { height:12px; width:12px; }
.about-gallery .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color:#111822;}
.mission-block { overflow:hidden; position: relative; color:#fff; padding:4rem 0px 0px; text-align:center;} 
.mission-block:after { content:''; position:absolute; top:0px; left:0px; z-index:-1; width:100%; height:100%; background-image:url('../assets/images/about/mission-bg.webp'); background-size:cover; border-radius:30px; }
.mission-block h2 { font-size:2rem; margin-bottom:1.5rem; }
.vision-mission-wraper .qoute-user { display: none; }
.values-wraper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;
}

.values-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px 15px;
    text-align: center;
    margin-bottom: 30px;
}

.values-item img {
    margin-bottom: 20px;
}
.values-item p { font-family: 'Clash Display'; font-weight:600; color:rgba(17, 24, 34, 0.7); }
.values-block .block-title {
    text-align: center;
}

.values-block {
    padding: 4rem 0px;
}

.values-block .block-title {
    margin-bottom: 2.5rem;
}
.ravi-vector .qoute-user { display:none; } 
.vp-container .row { padding:0px;}
ul.social-touch li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

ul.social-touch {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}
.about-bg-wraper {
    max-width: 250px;
    margin: 50px auto 0;
}

.about-video-wraper {
    max-width: 100%;
    border-radius: 21px;
    overflow: hidden;
    position: relative;
}
.about-video-block { text-align:center; padding-top:4rem;}
.values-block.ankush-block { background-color:#111822; border-radius:24px; color:#fff; padding-bottom:0px;} 
.values-block.ankush-block .values-item p { color:#fff; font-weight:500; font-family: 'Tahoma','Helvetica Neue'; }
.values-block.ankush-block .qoute-user { display:none;}
img.magic-image {
    margin-top: 40px;
}
.team-gallery { padding-bottom:4rem;}
.values-item br { display:none; }
.vert-logo-block a.backlink { color:#111822; text-decoration:underline; font-weight:bold;}
.milestone-item h4 { font-weight:700;}
.play-video {
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translate(-50%,-50%);
    cursor: pointer!important;
    width: 48px;
    height: 48px;
    background: #fff;
    box-shadow: 0 2.52118px 2.52118px #000;
    border-radius: 63.7399px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-video:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 16px;
    border-color: transparent transparent transparent #7c3eff;
    transform: rotate(0);
    margin-left: 6px;
}
.team-gallery img { width:100%;}
.team-gallery .block-title { text-align:center;}
.swiper-pagination { position:static; margin-bottom:2.5rem;}
.swiper-pagination-bullet { background: #C5C5C5; width:12px; height:12px; opacity:1; }
.swiper-pagination-bullet.swiper-pagination-bullet-active { background: #111822; }
ul.videos-tabs li a { color:#111822; }
.team-item-wraper { display:none;}

@media only screen and (min-width:320px) {

}

@media only screen and (min-width:480px) {
  /* .journey-item p { max-width:270px;} */
  .service-colout { padding:0px 15px;}
  .milestone-image img { max-width:300px; }
  .timeline-row { padding-left: 75px; }
  .milestone-item.achived:before,  .milestone-item.stay:before { left:-63px;}
  .milestone-item h4:after { left:-75px;}
  .vision-mission-wraper img { max-width:240px;}
  img.magic-image { max-width:260px;}
  .ankush-vector { text-align:center;}
  .ankush-vector > img { max-width:300px;}
}

@media only screen and (min-width:576px) {

}

@media only screen and (min-width:768px) {
.about-banner { padding:3.5rem 0px;}
.about-banner h1 { font-size:2rem; }
.ankush-image .qoute-user { top:40px; left:0px; }
.ankush-image { max-width:450px; display:table; margin:0px auto;}
.service-colout { flex: 0 0 100%; max-width:100%; padding-right:50%; padding-left:100px; position:relative; margin-bottom:35px; padding-top:10px;}
.service-colout img { position:absolute; top:0px; left:0px;}
.ankush-image { position: absolute; bottom:0px; right:0px;}
.aboutpage-why-block { position:relative; padding-bottom:4rem;}
.ankush-image .qoute-user img { position:static;}
.about-bg-wraper { margin-top:0px; margin-left:auto; margin-right:0px;}
.about-founder { text-align:left;}
.about-founder .qoute-user { margin-left:0px;}
.timeline-row { max-width: 380px; margin: 0px auto; }
.mission-block { text-align:left; padding:4rem 0px; }
.vision-mission-wraper img { max-width:100%; position:absolute; bottom:0px; max-width:343px; }
.mission-block { overflow:visible;}
.values-item { max-width:33.3333%; flex:0 0 33.3333%;}
.about-video-block { text-align:left; position: relative; padding-bottom:4rem;}
img.magic-image { position: absolute; bottom: 0px; left: 50%; transform: translate(-50%, 0px); bottom: 0px; margin-left: -60px; }
ul.social-touch { text-align:left;}
.values-block.ankush-block .block-title { text-align:left;}
.values-block.ankush-block .values-item { max-width:50%; flex:50%; text-align:left; }
.values-block.ankush-block { padding-bottom:2rem; position: relative;}
.ankush-vector > img { max-width: 410px; position: absolute; bottom: 0px; right:0px; }
}

@media only screen and (min-width:992px) {
.about-founder { text-align:left;}
.founder-pic { margin-bottom:0px; max-width:330px; }
.founder-qoute p { font-size:1.8rem; line-height:2.5rem; }
.about-founder .qoute-user { margin:30px 0px 0px; }
.about-founder::after { display:block; }
.about-gallery { margin:0px 15px;}
.service-colout { padding-right:0px; flex: 0 0 50%; max-width:50%; padding-left:0px;}
.timeline-row { max-width:100%; padding-left:0px;}
.timeline-row:before { left:0px; bottom:0px; top:auto; width:100%; height:4px;}
.milestone-item.achived:before, .milestone-item.stay:before { left: -12px; width: calc(100% + 30px); height:4px; top: auto; bottom: 0px; }
.milestone-item { height:100%; text-align:center;}
.milestone-image img { max-width:100%; margin:0px auto;}
.milestone-item h4 { position: absolute; bottom: -70px; left: 50%; transform: translate(-50%, 0px); text-align: center; font-size:1.1rem; color:#898F8F; }
.milestone-item h4:after { left: 50%; transform: translate(-50%, -57px); }
.milestone-item.stay h4 { color: #7c3eff; }
.journey-block { padding-bottom:10rem;}
.vision-mission-wraper img { max-width:310px;}
.values-block { position: relative;}
.values-block .row { flex-direction:row-reverse;}
.values-block .block-title { text-align:left;}
.ravi-vector > img { position: absolute; left: 0px; bottom:80px; max-width: 500px; }
.values-block.ankush-block .row { flex-direction:row;}
.about-video-block { background-image: url('../assets/images/about/arrow.png'); background-repeat: no-repeat; background-position:top 135px center; }
.vision-mission-wraper .qoute-user { display:block; position:absolute; right:20px; bottom:10px; }
.vision-mission-wraper .qoute-user-icon img { position: static;}
.ravi-vector .qoute-user { display:block; position:absolute; bottom:15px; left:54px; }
.values-item { text-align:left;}
.about-form.buisness-form-block { padding: 0px; }
}

@media only screen and (min-width:1200px) {
.about-banner { padding:6rem 0px; background-position:center top;}
.about-banner h1 { font-size:2.3rem; }
.about-founder { padding:6rem 0px;}
.founder-pic { max-width:363px; margin-left:0px; }
.about-founder::after { width:296px; height:296px; bottom:120px;}
.team-block { padding:6rem 0px; }
.team-item { margin-bottom:4rem;}
.vert-logo-block img { margin-bottom:30px;}
.vert-logo-block { padding-bottom:6rem;}
.team-gallery-slides { padding:0rem 0px 6rem; }
.about-gallery .swiper-pagination { margin-bottom:2rem; }
.block-title { font-size:40px;}
.milestone-item { padding-bottom:40px;}
.mission-block { padding:6rem 0px;}
.vision-mission-wraper img { max-width: 380px; left: 59%; }
.vision-mission-wraper .qoute-user { right:auto; left:80%;}
.mission-block h2 { font-size:40px;}
.ravi-vector > img { max-width:660px;}
.values-block { padding:6rem 0px;}
.about-bg-wraper { max-width:293px; margin-right:50px;}
.about-video-block h2 { font-size:40px;}
img.magic-image { max-width: 385px; margin-left:50px; }
section { max-width:1700px; margin:0px auto;}
.values-block.ankush-block .block-title { font-size:48px; margin-bottom:60px;}
.ankush-vector > img { max-width: inherit; height: 100%; right: auto; left:55%; }
.values-block.ankush-block { padding-bottom:3rem; overflow-x: hidden; }
.values-block.ankush-block .qoute-user { display: block; left:55%; top: 160px; position: absolute; }
.team-gallery { padding-bottom:6rem; padding-left:15px; padding-right:15px;}
.team-gallery img { width:100%;}
.values-item br { display:inline-block;}
/* .milestone-image { display:block; min-height:70px;} */
.play-video { height: 72px; width: 72px; }
.play-video:before { border-width: 13.5px 0 13.5px 25px; }
}