.block-padd { padding:50px 0px;}
.navbar-brand { background-image:url('../assets/images/vidzy-logo.webp'); background-size:100%; background-position:0px; }
.footer-brand { background-image:url('../assets/images/footer-logo.webp'); background-size:100%; background-position:0px; }
.primary-btn.has-arrow:after { background-image: url('../assets/images/btn-arrow.png'); background-position: 0px; transform: scale(0.8); margin-left: 5px; }
p {
    font-size: 1rem;
    line-height: 1.75;
    margin: 1em 0px;
}
.fixed-social-media {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 999;
    padding: 0px 0px;
}
ul.social-media-share li {
    list-style: none;
}
ul.social-media-share li:last-child a {
    border: none;
}
ul.social-media-share li a {
    padding: 2px 10px;
    display: block;
    font-size: 1rem;
    background-color: #9e6bf9;
    color: #fff;
}
.blogs-banner-part {
    padding-top: 25px;
}
.blogs-banner-part h1 {
    margin-bottom:1.5rem;
    font-size:2rem;
}

.blog-content a {
    color: #00B2FF;
    text-decoration: none;
}

ul.toc_list li a { color: #111822; }
ul.posted-on {
    /* margin-top: 20px; */
    margin-bottom:20px;
    padding-left: 0px;
}
ul.posted-on li {
    list-style: none;
}
.header-social-media{
    padding-left: 0px; 
    margin-bottom:40px;
}
ul.header-social-media li {
    display: inline-block;
}
ul.header-social-media li a {
    display: block;
    border: 1px solid rgba(17, 24, 34, 0.1);
    padding: 3px 10px;
    border-radius: 8px;
    color:#111822;
    text-decoration:none;
}
.blog-content ul {
    margin-left: 0px;
    padding-left:0px;
}
.blog-content ul li {
    font-family: 'Tahoma','Helvetica Neue';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin: 1em 0px;
    color: #111822;
}
.influencer-listicles {
    margin:20px 0px;
}
.influencer-picture img {
    width: 100%;
    border-radius: 8px;
}

.influencer-content > span {
    font-size: 50px;
    font-weight: 700;
    color: #afb9c6;
}

.influencer-content h3 {
    margin-top: -15px;
    margin-bottom: 5px;
}

ul.profile-stats li {
    list-style: none;
}

ul.profile-stats li span {
    font-weight: 600;
}

ul.profile-stats {
    margin-bottom: 10px;
    margin-left:0px;
}
.fixed-social-media {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 999;
    padding: 0px 0px;
}

ul.social-media-share {
    display: flex;
    width: 100%;
    justify-content: center;
}

ul.social-media-share li {
    list-style: none;
}

ul.social-media-share li a {
    padding: 2px 10px;
    display: block;
    font-size: 1rem;
    background-color: #9e6bf9;
    color: #fff;
}

ul.social-media-share li:last-child a {
    border: none;
}
.blog-content img { max-width:100%;}
.no_bullets {
    background-color: #f1f4f7;
    margin: 30px 0px;
    max-width: 500px;
    padding:10px 10px 28px;
}

.no_bullets ul li {
    list-style: none;
}

.no_bullets p {
    margin-left: 20px;
}

.no_bullets ul { padding-left:15px; }

.no_bullets > ul {
    margin: 0; 
}
.no_bullets > ul li { 
    font-family: 'Tahoma','Helvetica Neue';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin: 1em 0px;
    color: #111822;     
}
.no_bullets > ul li a { text-decoration:none;}
#toc_container { display:none;}
.read-more-btn::before { color:#00B2FF; }
ul.influencers-bullets-list {
    margin: 0px;
}

ul.influencers-bullets-list li {
    list-style: none;
}

ul.influencers-bullets-list li img {
    max-width:200px;
}
ul.influencers-bullets-list li h3 {
    margin-bottom: 10px;
}


ul.influencers-bullets-list li h4 {
    display: none;
}

ul.influencers-bullets-list li h4 + p {
    font-weight: 700;
    color: #111822;
}

ul.influencers-bullets-list li h4 + p:before {
    content: 'USP:';
    font-size: 1.375rem;
    line-height: 1.45;
}
.small-index-btn{
    cursor: pointer;
    color: #00B2FF;
}

@media only screen and (min-width: 768px) {
.fixed-social-media {
    bottom: auto;
    top: 50%;
    transform: translate(0px, -50%);
}
ul.social-media-share {
    flex-direction: column;
}
ul.social-media-share { display: flex; width: 100%; justify-content: center; }
.blogs-banner-part .no_bullets { display:none; }
#toc_container { display:block;}
.no_bullets { padding:10px 30px 28px; }
}
@media only screen and (min-width: 992px){
h2, .h2, .attract-banner-home h3 {
    font-size:2.1rem;
    line-height: 1.38;
}
ul.influencers-bullets-list li {
    position: relative;
    padding-left: 240px;
}
ul.influencers-bullets-list li img {
    position: absolute;
    left: 0px;
    top: 0px;
}
}
@media only screen and (min-width: 1200px){
.block-padd { padding: 70px 0px; }
.blogs-banner-part { margin-top: 90px; }
.blog-content .container { max-width: 860px; }
/* .container { max-width: 1140px; } */
.blogs-banner-part h1 { font-size: 2.5rem; max-width: 440px; }
.blog-content ul { padding-left:15px;}
.blog-content h3 { font-size:1.6rem;}
}