.ima-stats-wraper {
	display: flex;
	flex-wrap: wrap
}
.ima-stats-item {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 2rem
}
.ima-stats-item p {
	margin: 0
}
.ima-stats-item h3 {
	font-size: 2.8rem;
	color: #4d0cd5
}
.ima-stats-block {
	padding: 4rem 0 2rem
}
.scroll-top-btn a:after, .primary-btn.has-arrow:after, .home-stripe-bg {
	background-image: url(../assets/images/best-influencer-marketing-company-in-india/icons.webp);
	background-repeat: no-repeat
}
.steps-content-wraper h4 {
	max-width: 100%
}
.content-creators-icon {
	background-position: -1417px -26px
}
.influencer-ralation-icon {
	background-position:-689px -240px
}
.pricing-2-icon {
	background-position:-1701px -20px
}
.clock-icon {
	background-position: -418px -235px
}
.clock-icon-2 {
	background-position: -569px -240px
}
.team-2-icon {
	background-position: -1565px -15px
}
.brands-2-icon {
	background-position: -1278px -20px
}
.research-2-icon {
	background-position: -1860px -20px
}
.awareness-icon {
	background-position: -420px -350px
}
.boost-icon {
	background-position: -242px -350px;
	height: 108px;
	width: 108px;
	background-size: 2700px
}
.conversion-icon {
	background-position: -72px -350px
}
.snapchat-icon {
	background-position: -1220px -350px
}
.tikTok-icon {
	background-position: -1099px -350px
}
.how-icon {
	height: 92px
}
.text-primary {
	color: #7c3eff!important
}
.market-buzz-content img {
    max-width: 65px;
}
@media screen and (min-width:768px) {
	.ima-stats-item {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
		padding: 0 15px
	}
}
@media screen and (min-width:992px) {
	.ima-stats-block {
		padding: 0 0 2rem
	}
}
@media only screen and (min-width:1200px) {
	.steps-content-wraper.min-height-set h4 {
		min-height: initial
	}
	.social-media-page .why-card:before {
		height: 77%
	}
	.pricing-2-icon {
		background-position:-1701px -33px
	}
	.content-creators-icon {
		background-position: -2121px -33px
	}
	.pricing-2-icon {
		background-position: -2542px -31px;
		width: 150px
	}
	.clock-icon {
		background-position: -633px -357px
	}
	.clock-icon-2 {
		background-position: -856px -357px
	}
	.team-2-icon {
		background-position: -2336px -33px
	}
	.brands-2-icon {
		background-position: -1910px -31px
	}
	.research-2-icon {
		background-position: -2774px -39px
	}
	.influencer-ralation-icon {
		background-position: -1032px -360px
	}
	.market-buzz-content img {
		max-width:90px;
	}
}