
<nav class="navbar navbar-expand-lg navbar-light" id="vidzy-navbar">
  <div class="container">
    <a class="navbar-brand home-stripe-bg" href="/index.html" aria-label="Visit To Homepage"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="menu-close" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation Close"> <span></span> </div>
      <ul class="navbar-nav ms-auto">
        <!-- <li class="nav-item">
          <a class="nav-link active" href="/">Home <span></span> </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="./case-studies.html"> Our Work <span></span> </a>
        </li>        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-expanded="false">
            Services
            <span></span> 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li> 
              <span class="sec-btn"> Organic Videos </span> 
              <ul class="second-level-menu">
                <li><a class="dropdown-item" href="./corporate-video-production-company-in-india.html"> Corporate Videos </a></li>
                <li><a class="dropdown-item" href="./top-social-media-video-production-company-in-india.html"> Social Media Videos </a></li>
                <li><a class="dropdown-item" href="./top-youtube-video-production-company-in-india.html"> Youtube Videos </a></li>
                <li><a class="dropdown-item" href="./top-ugc-video-company-in-india.html"> UGC Videos </a></li>
                <li><a class="dropdown-item" href="./product-video-production-company.html"> Product Videos </a></li>   
                <li><a class="dropdown-item" href="./instagram-reels-video-making-company.html"> Instagram Reels </a></li>
                <li><a class="dropdown-item" href="./shoppable-videos-for-shopify-stores.html"> Shoppable Videos </a></li>
              </ul>
            </li>             
            <li> 
              <span class="sec-btn"> Ads </span>
              <ul class="second-level-menu">
                <li><a class="dropdown-item" href="./top-video-ads-agency-in-india.html"> Video Ads </a></li>
                <li><a class="dropdown-item" href="./top-youtube-ads-agency-in-india.html"> YouTube Ads </a></li>
                <li><a class="dropdown-item" href="./top-instagram-ads-agency-in-india.html"> Instagram Ads </a></li>
                <li><a class="dropdown-item" href="./top-video-ads-agency-in-india/best-facebook-ads-agency-in-india.html"> Facebook Ads </a></li>
                <li><a class="dropdown-item" href="./top-linkedin-video-ads-agency.html"> LinkedIn Video Ads </a></li>                    
              </ul>
            </li>
            <li> 
              <span class="sec-btn"> Production </span>
              <ul class="second-level-menu">
                <li><a class="dropdown-item" href="./best-3d-animation-video-company-in-india.html"> 3D Animation </a></li>
                <li><a class="dropdown-item" href="./best-2d-animation-video-company-in-india.html"> 2D Animation </a></li>
                <li><a class="dropdown-item" href="./video-editing-services-in-india.html"> Video Editing </a></li>

              </ul>
            </li>
            <li>
              <span class="sec-btn"> Influencer Marketing </span>
              <ul class="second-level-menu">
                <li><a class="dropdown-item" href="./best-influencer-marketing-company-in-india.html"> Influencer Marketing </a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown flags-dropdown-wraper">
          <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-expanded="false">
            Countries
            <span></span> 
          </div>
          <ul class="dropdown-menu countries-dropdown" aria-labelledby="navbarDropdown">
            <li> 
              <span class="sec-btn"> UGC </span> 
              <ul class="second-level-menu">
                <li><a class="dropdown-item" href="./ugc-agency-in-usa.html"><img src="./assets/images/home-page/usa.webp" alt="USA"> UGC Agency in USA </a></li>
                <li><a class="dropdown-item" href="./ugc-agency-in-uk.html"><img src="./assets/images/home-page/uk.webp" alt="UK"> UGC Agency in UK </a></li>
                <li><a class="dropdown-item" href="./ugc-agency-in-canada.html"><img src="./assets/images/home-page/canada.webp" alt="Canada"> UGC Agency in Canada </a></li>
                <li><a class="dropdown-item" href="./ugc-agency-in-uae.html"><img src="./assets/images/home-page/uae.webp" alt="UAE"> UGC Agency in UAE </a></li>
                <li><a class="dropdown-item" href="./ugc-agency-in-saudi-arabia.html"><img src="./assets/images/home-page/rsa.webp" alt="Saudi"> UGC Agency in Saudi Arabia </a></li>
                <li><a class="dropdown-item" href="./top-ugc-agency-in-kuwait.html"><img
                  src="./assets/images/home-page/kuwait.webp" alt="Saudi"> UGC Agency in Kuwait </a></li>
              </ul>
            </li>             
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./blog.html"> Blogs <span></span> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about-us.html">About Us <span></span> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./creator.html">Creators <span></span> </a>
        </li>
        <li class="nav-item">
          <a href="./contact-us.html" class="primary-btn bg-primary has-arrow">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
$(".sec-btn, .dropdown-toggle").click(function(){$(this).parent("li").toggleClass("menu-open").siblings().removeClass()});
</script>
