<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a class="footer-brand home-stripe-bg mb-xl-4" href="../index.html" aria-label="Visit to Home Page"></a>
        <p> Find Us Online </p>
        <div class="social-media">
          <a href="https://www.facebook.com/vidzymedia/?locale=hi_IN&paipv=0&eav=AfZI7tNWrNhNO3RtdjTdTqhNSi_I9rYm9IGiUaegR58fmvrOibpK1m15li9HI6gTIWU&_rdr" aria-label="Vidzy Facebook Profile"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/reel/CixG61iPQh0/?igshid=YmMyMTA2M2Y=" aria-label="View Instagram Page"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/company/vidzymedia/" aria-label="View Linkedin Page"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.youtube.com/channel/UCLPw6dvPy6ptSmdX8u_0Vsw" aria-label="View Youtube Page"><i class="fab fa-youtube"></i></a>
          <a href="https://api.whatsapp.com/send?phone=919917486405" aria-label="View Whatsapp Page"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="col-sm-7 col-md-7 col-lg-3">
        <p>Contact Us</p>
        <ul>
          <li>
            <i class="fa fa-map-marker-alt"></i>
            F-12/1, DLF Phase - 1, Sector 27, Golf Course Rd, Gurugram, Haryana 122002
          </li>
          <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:info@vidzy.in">info@vidzy.in</a>
          </li>
          <li>
            <i class="fa fa-phone-alt"></i>
            <a href="tel:919219940481">+91 9219940481</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-5 col-md-4 col-lg-3">
        <p>Services</p>
        <ul class="footer-services">
          <li> <a href="../top-social-media-video-production-company-in-india.html"> Social Media Organic Videos </a> </li>
          <li> <a href="../product-video-production-company.html"> Product Video Production Company </a> </li>
          <li> <a href="../top-video-ads-agency-in-india.html"> Video Ads Agency </a> </li>
          <li> <a href="../top-video-ads-agency-in-india/best-facebook-ads-agency-in-india.html"> Facebook Ads </a></li>
          <li> <a href="../video-production-company-in-delhi.html"> Video production company in Delhi </a></li>              
          <li> <a href="../video-production-company-in-gurugram.html"> Video Production Company in Gurugram </a></li>
          <li> <a href="../video-production-company-in-noida.html"> Video Production Company in Noida </a></li>
          <li> <a href="../video-production-company-in-mumbai.html"> Video Production Company in Mumbai </a></li>
          <li> <a href="../video-production-company-in-jaipur.html"> Video Production Company in Jaipur </a></li>
        </ul>
      </div>
      <div class="col-sm-5 col-md-4 col-lg-3">
        <p>Services</p>
        <ul class="footer-services">
          <li> <a href="../video-production-company-in-dubai-uae.html"> Video Production Company in Dubai </a></li>
          <li> <a href="../video-production-company-in-bengaluru.html"> Video Production Company in Bengaluru </a></li>
          <li><a href="../best-3d-animation-video-company-in-india.html"> 3D Animation Services </a></li>
          <li><a href="../best-2d-animation-video-company-in-india.html"> 2D Animation Services </a></li>
          <li><a href="../video-editing-services-in-india.html"> Video Editing Services </a></li>
          <li><a href="../ugc-agency-in-usa.html">UGC Agency in USA </a></li>
          <li><a href="../ugc-agency-in-uk.html">UGC Agency in UK </a></li>
          <li><a href="../ugc-agency-in-canada.html">UGC Agency in Canada </a></li>
          <li><a href="../ugc-agency-in-uae.html">UGC Agency in UAE </a></li>

        </ul>
      </div>
    </div>
    <div class="lower-footer-row">
      <div class="row">
        <div class="col-md-5 col-lg-6">
          <p class="copyright mb-0">© Vidzy 2024 All Rights Reserved</p>
        </div>
        <div class="col-md-7 col-lg-6">
            <ul class="disclimer-links">
              <li> <a href="../terms-conditions.html"> Terms & Conditions </a> </li>
              <li> <a href="../privacy-policy.html"> Privacy Policy </a> </li>
              <li> <a href="../disclaimer.html"> Disclaimer </a> </li>
              <li> <a href="../cancellation-and-refund-policy.html"> Cancellation and Refund Policy </a> </li>

            </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
  <div class="scroll-top-btn"> <span onclick="scrollToTop()"> </span> </div>
  <a href="https://api.whatsapp.com/send?phone=919219940481" aria-label="Whatsapp" class="whatsapp-icon" target="_blank"> <i class="fab fa-whatsapp"></i> </a>

