$primary-color: #111822;
::selection {
	background-color: #7c3eff;
	color: white;
}

@import './home-page.scss';
@import './header.scss';
@import './footer.scss';
@import './common.scss';
@import './top-social-media-video-production-company-in-india.scss';
@import './contact-us.scss';
@import './about-us.scss';
@import './thank-you.scss';
@import './legal.scss';
@import './top-video-ads-agency-in-india.scss';
@import './product-video-production-company.scss';
