

.thank-you {
	font-family: 'Work Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  padding: 100px 0px;
  > img {
    width: 80px;
  }
	.title {
    font-weight: 500;
		margin: 28px 0px;
    text-align: center;
    padding: 0px 24%;
    font-size: 28px;
	}
}
